@media (max-width:481px) {
    .mais-conteudos{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mais-conteudos .info h1{
        width: 100%;
        font-size: x-large;
    }
    .mais-conteudos .info p{
        width: auto;
    }
    .aba-global-blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aba-global-blogs .conteudos-blogs .imagem{
        width: 100%;
    }
    .aba-global-blogs .conteudos-blogs .informes h3{
        width: 100%;
        font-size: medium;
    }
    .aba-global-blogs .conteudos-blogs .informes p{
        font-size: small;
        width: 100%;
    }   
}

@media (max-width:980px) {
    .mais-conteudos{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mais-conteudos .info h1{
        width: 100%;
        font-size: x-large;
    }
    .mais-conteudos .info p{
        width: auto;
    }
    .aba-global-blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aba-global-blogs .conteudos-blogs .imagem{
        width: 100%;
    }
    .aba-global-blogs .conteudos-blogs .informes h3{
        width: 100%;
        font-size: medium;
    }
    .aba-global-blogs .conteudos-blogs .informes p{
        font-size: small;
        width: 100%;
    }

}

.mais-conteudos{
    display: flex ;
    justify-content: center;
    margin-bottom: 150px;
}

.info h1{
    width: 512px;
    height: 108px;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
    text-transform: uppercase;
    margin-top: 122px;

}

.info p {
    width: 461px;
    height: 110px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.mais-conteudos aside{
    margin-top: 48px;
}

.pai-global{
    background: #E5E5E5;;
}

.aba-global-blogs {
    display: flex;
    justify-content: center;
}

.conteudos-blogs{
    margin: 50px;
}

.imagem{
    width: 518px;
    height: 270px;
    background: #C4C4C4;    
}

.informes h3{
    width: 455px;
    height: 34px;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}

.informes p{
    width: 516px;
    height: 80px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}