@media(max-width:481px){
    .curso{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .curso .introdução h1{
        width: 100%;
    }
    .curso .introdução p{
        width: 100%;
    }

    .divisoria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divisoria .video-aula{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media(max-width:980px){
    .curso{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divisoria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divisoria .video-aula{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.curso{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.introdução h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;  
    color: #FF4081; 
    margin-top: 150px;
    padding: 15px;
}

.introdução p{
    width: 461px;
    height: 186px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 15px;
}

.imagem-ilustrativa{
    margin-top: 115px;    
}

.divisoria{
    background: #F7F7F7;
}

.video-aula{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding: 30px;
    border-bottom: 5px solid #C4C4C4;;
}

.video{
    margin: 0px 85px;
}

.legenda-video h3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 20px;
    color: #FF4081;
}

.legenda-video p{
    width: 400px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}