

.curso{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.introdução h1{
    width: 512px;
    height: 126px;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;  
    color: #FF4081; 
    margin-top: 150px;
}

.introdução p{
    width: 461px;
    height: 186px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;

}


.imagem-ilustrativa{
    margin-top: 115px;    
}


.divisoria{
    background: #F7F7F7;
}


.video-aula{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding: 30px;
    border-bottom: 5px solid #C4C4C4;;

    
}

.video{
    margin: 40px 85px;
}

.legenda-video h3 {

    width: 512px;
    height: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;

}

.legenda-video p{
    width: 501px;
    height: 195px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

