* {
    font-family: 'Ubuntu', sans-serif;
}

.screen-reader-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media only screen and (max-width: 990px) {
    header .navbar .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        width: 720px;
    }

    footer h2 {
        display: none;
    }

    footer nav {
        display: none;
    }

    footer .btnProf ul {
        display: flex;
        justify-content: center;
    }

    footer .btnProf ul li {
        margin: 10px;
    }

}

@media only screen and (max-width: 481px) {
    header .container-fluid img {
        width: 199px;
        height: 67px;
    }

    header .navbar .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        width: 460px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    header h2 {
        margin: 10px 0;
    }

    footer .btnProf ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer .btnProf ul li {
        margin: 10px;
    }
}

header {
    background: #2e948a;
}

header nav .container-fluid {
    display: flex;
    flex-direction: column;
}

header img {
    width: 250px;
}

header #navbarSupportedContent ul li a {
    color: #FDFDFD;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}

footer {
    background: #419488;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

footer h2 a {
    display: block;
    color: transparent;
    background: url('../dindin-imagens/dindin-imagens/logo-footer.png') 0 0 no-repeat;
    width: 312px;
    height: 102px;
}

footer ul {
    margin: 30px 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #FDFDFD;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}

.links-anexos a {
    border: 2px solid white;
    border-radius: 62px;
    padding: 14px 51px;
    display: block;
    margin: 0 0 14px;
    text-align: center;
}

.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
}