body{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box; 
}

@media (max-width: 481px) {
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .box1 h1, p, a{
        padding: 10px;
    }
    .imagem-ilustra-baner img{
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }
    .ilustracao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ilustracao .figuras-com-textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .oQueFalam{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .oQueFalam h2{
        text-align: center;
    }
    .comentarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .oQueFalam .card{
        margin: 10px;
    }
    .mais-conteudo h2{
        text-align: center;
    }
    .mais-conteudo .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 980px) {
    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;align-items: center;
    }
    .box1 h1, p, a{
        padding: 10px;
    }
    .imagem-ilustra-baner img{
        width: 350px;
        height: 350px;
        margin-top: 50px;
    }
    .ilustracao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ilustracao .figuras-com-textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .oQueFalam{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .oQueFalam h2{
        text-align: center;
    }
    .comentarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .oQueFalam .card{
        margin: 10px;
    }
    .mais-conteudo h2{
        text-align: center;
    }
    .mais-conteudo .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.box1{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.bloco h1{
    width: 450px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.bloco p{
    width: 462px;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #555555;
}

.bloco a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    padding: 10px;
    border-radius: 62px;
}

.ilustracao{
    display: flex;
    justify-content: center;
}

.imagem-ilustra-baner{
    margin-top: 30px 0;
}

.figuras-com-textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.figuras-com-textos h3{
    width: 344px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #FF4081;
}

.figuras-com-textos p{
   width: 300px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;

}

.figuras-com-textos a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF4081;
    padding: 10px;
    border-radius: 62px;
}

.oQueFalam{
    padding: 50px;
}

.oQueFalam h2{
    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688; 
}

.comentarios{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.oQueFalam .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#card #img-icon{
    width: 100px;
    height: 100px;
    padding: 15px;
}

.mais-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #E5E5E5;
    box-sizing: border-box;
}

.mais-conteudo > h2{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    padding: 30px;

}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo span{
    width: 319px;
    height: 193px;
    color: transparent;
    background-color: #C4C4C4;
    padding: 10px;  
}

.divs h3{
    font-weight: 700;
    color: #009688;
}

.mais-posts{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 100px 0px 50px;
}

.mais-posts a{
    color: #FF4081;
    text-decoration: none;
    border: 2px solid #FF4081;
    border-radius: 20px;
    padding: 5px;
}