body{
    box-sizing: border-box; 
    
}

.box1{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.bloco h1{
    width: 450px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.bloco p{
    width: 462px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.bloco a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 62px;

}

.ilustracao{
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}

.imagem-ilustra-baner{
    margin-top: 30px;
}

.figuras-com-textos {
    align-items: center;
    margin: 140px 10px;
}

.figuras-com-textos h3{
    width: 344px;
    margin: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.figuras-com-textos p{
   
    width: 293px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-left: 42px;
    color: #000000;

}

.figuras-com-textos a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 115px;
    border-radius: 62px;

}

.div-mae h2{

    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688; 
    margin: 90px 76px 130px;;
}

.divisora-icones{
    display: flex;
    justify-content: center ;
    justify-items: center;
   
}


.icone-lado-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    
}

.imagem-icone{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.comentario-icone{
    width: 263px;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.mais-conteudo{
    display: block;
    text-align: center;
    background: #F6F6F6;
}

.mais-conteudo h2{
    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    text-align: -webkit-right;
    padding: 50px;
   
   
}
.conteudo{
    display: flex;
    margin: 0 0 100px 0;
    
    
    
}
.conteudo picture{
    justify-content:center;
}


.conteudo h3{
    
    font-weight: 700;
    font-size: 27px;
    color: #009688; 
}

.conteudo p{
   line-height: 18px;
    color: #000000;
    margin-bottom: 100px;
    padding: 4px;
}

.conteudo a{
    text-decoration: none;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px;
    
}




header{

    background: #2e948a;
    display: flex;
    justify-content: center;
}
header h2 a {
    display: block;
    color: transparent;
    background: url('../dindin-imagens/dindin-imagens/logo-header.png') 0 0 no-repeat;
    width: 244px;
    height: 77px;
}
header nav ul{
    
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0 0 20px;
    padding: 0;
    

}
header nav ul li{
    list-style: none;
}

header ul li a{
    color: #FDFDFD;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
}

footer {
    background: #419488;
    display: flex;
    justify-content: center;
}

footer h2 a {
    display: block;
    color: transparent;
    background: url('../dindin-imagens/dindin-imagens/logo-footer.png') 0 0 no-repeat;
    width: 312px;
    height: 102px;
}

footer ul {
    margin: 30px 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #FDFDFD;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}

.links-anexos a {
    border: 2px solid white;
    border-radius: 62px;
    padding: 14px 51px;
    display: block;
    margin: 0 0 14px;
    text-align: center;
}

.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
}

@media only screen and (max-width: 769px) {

    .container {
        width: 720px;
    }
    
}

@media only screen and (max-width: 481px) {

    .container {
        width: 460px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    header h2 {
        margin: 10px 0;
    }
}