body{
    box-sizing: border-box; 
    
}

.box1{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.bloco h1{
    width: 450px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.bloco p{
    width: 462px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.bloco a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 62px;

}

.ilustracao{
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}

.imagem-ilustra-baner{
    margin-top: 30px;
}

.figuras-com-textos {
    align-items: center;
    margin: 140px 10px;
}

.figuras-com-textos h3{
    width: 344px;
    margin: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.figuras-com-textos p{
   
    width: 293px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-left: 42px;
    color: #000000;

}

.figuras-com-textos a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 115px;
    border-radius: 62px;

}

.div-mae h2{

    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688; 
    margin: 90px 76px 130px;;
}

.divisora-icones{
    display: flex;
    justify-content: center ;
    align-items: center;
   
}


.icone-lado-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    
}

.imagem-icone{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.comentario-icone{
    width: 263px;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.mais-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #E5E5E5;
    box-sizing: border-box;
}

.mais-conteudo > h2{
    align-items: flex-start;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    margin: 55px 629px 80px 0px;

}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.conteudo span{
    width: 319px;
    height: 193px;
    color: transparent;
    background-color: #C4C4C4;
    padding: 10px;
    
}

.divs h3{
    font-weight: 700;
    color: #009688;

}

.mais-posts{
   
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 100px 0px 50px;
    
}

.mais-posts a{
    color: #FF4081;
    text-decoration: none;
    border: 2px solid #FF4081;
    border-radius: 20px;
    padding: 5px;
   
}



