main {
    margin: 0 auto;
    box-sizing: content-box;
}
.box1{
    display: flex;
    justify-content: space-evenly;
    background:  #F7F7F7;
   
   
}

.bloco{
    
    align-items: center;
    align-content: center;
}
.bloco h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 68.94px;
    color: #FF4081;
    margin-top: 100px;
    margin-left: -7px;
   

}

.bloco p{
    width: 462px;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    margin: -18px 186px 21px -1px;
    color: #555555;
    
}

.bloco a{
    text-decoration: none;
   
    font-weight: 400;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 4px 25px 9px 16px;
    
}

.imagem-ilustra-baner{

    width: 501px;
    height: 511px;
    margin: 80px -97px;
    
}


.ilustracao{
    background:  #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 80px;
    margin: 0px 0px 60px;
}

.ilustracao img{
    width: 288px;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    margin: 35px 37px 25px;
    border: 1px solid #000000;
}
.ilustracao h3{
    width: 344px;
    height: 29px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin: -8px 16px -10px;
    text-align: center;
    color: #FF4081;

}

.ilustracao p{
    width: 293px;
    height: 60px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 39px 30px;
    text-align: center;
    color: #000000;
}

.ilustracao a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    width: 233px;
    height: 51px;
    background: #FF4081;
    border-radius: 62px;
    margin: 39px 91px 48px;
    padding: 11px 35px 15px;

}

.icones h2{
    color: #009688;
    width: 478px;
    height: 50px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50.47px;
    margin: 0px 70px;
    text-transform: uppercase;

}
.lado{
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
}
.icones-comentarios img{
    
    width: 84px;
    height: 68px;
}
.textos-icones p{
    
    width: 363px;
    height: 70.27px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.textos-icones h5{
    width: 76px;
    height: 23.42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.mais-conteudo{
    margin: 0 auto;
    background:  #E5E5E5;
    
}
.mais-conteudo h2{

    width: 530px;
    height: 43px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    margin: 0px 64px 0px;
    padding: 30px;
    color: #009688;
    text-transform: uppercase;
}
.conteudo{
    display: flex;
    justify-content: space-evenly;
}

.conteudo img{
    
    width: 319px;
    height: 193px;
    
}
.conteudo  h3{
    color: #009688;
    align-items: flex-start;
    margin: 13px 0px -16px;
}

.conteudo p{
    width: 319px;
    height: 114px;
    margin: 23px 0px 5px;
    
}
.botao-todos-posts a{
    display: flex;
    text-decoration: none;
    width: 207px;
    height: 31px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: content-box;
    border-radius: 62px;
    padding: 7px 30px;
    margin: 10px 535px 60px;
}


 





