body{
    box-sizing: border-box; 
    
}

.box1{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.bloco h1{
    width: 450px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.bloco p{
    width: 462px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.bloco a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 62px;

}

.ilustracao{
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}

.imagem-ilustra-baner{
    margin-top: 30px;
}

.figuras-com-textos {
    align-items: center;
    margin: 140px 10px;
}

.figuras-com-textos h3{
    width: 344px;
    margin: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.figuras-com-textos p{
   
    width: 293px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-left: 42px;
    color: #000000;

}

.figuras-com-textos a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 115px;
    border-radius: 62px;

}

.div-mae h2{

    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688; 
    margin: 90px 76px 130px;;
}

.divisora-icones{
    display: flex;
    justify-content: center ;
    align-items: center;
   
}


.icone-lado-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    
}

.imagem-icone{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.comentario-icone{
    width: 263px;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.mais-conteudo{
    display: block;
    text-align: center;
    background: #F6F6F6;
}

.mais-conteudo h2{
    width: 460px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    text-align: -webkit-right;
    padding: 50px;
   
   
}
.conteudo{
    display: flex;
    margin: 0 0 100px 0;
    
    
    
}
.conteudo picture{
    justify-content:center;
}


.conteudo h3{
    
    font-weight: 700;
    font-size: 27px;
    color: #009688; 
}

.conteudo p{
   line-height: 18px;
    color: #000000;
    margin-bottom: 100px;
    padding: 4px;
}

.conteudo a{
    text-decoration: none;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px;
    
}