.introduction{
    margin-top: 60px;
}
.introduction h1{
    width: 758px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    display: flex;
    align-items: center;
    padding: 10pt;
    margin-left: 279px;
    
}

.introduction span{
    width: 235px;
    height: 21px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
    padding: 10px;
    margin-left: 559px;
}

.imagem{
    width: 1032px;
    height: 465px;
    background:#C4C4C4;
    background-size: contain;
    margin: 51px 160px;
    background-origin: border-box;

}

.textos{
    width: 1032px;
    height: 1061px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
    margin: 100px 165px;
    
}

.textos h5{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 54px;
    color: #009688;
    margin: 0;

}

.parte-index{
    background: #F6F6F6;
    padding: 60px;
}

.parte-index h2{
    width: 540px;
    height: 57px;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    margin: 0px 340px;}


.ilustracao{
    display: flex;
    justify-content: center;
    
}

.imagem-ilustra-baner{
    margin-top: 30px;
}

.figuras-com-textos {
    align-items: center;
    margin: 140px 10px;
}

.figuras-com-textos h3{
    width: 344px;
    margin: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}

.figuras-com-textos p{
   
    width: 293px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-left: 42px;
    color: #000000;

}

.figuras-com-textos a{
    width: 216px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 115px;
    border-radius: 62px;

}